
<div class="container-fluid" >
  <div class="p-3">
    <h1>Favourite songs</h1>
  </div>

  <div class="d-flex">
    <div class="col-3 justify-content-center" *ngFor="let song of favouriteSongList">
      <div class="card" >
        <img (click)="playMusic( song.link , song.name, song.singer, song.album )" src="./assets/Music_Wave.jpg" class="hover-overlay card-img-top" alt=" {{ song.name }}">
        <div class="card-body">
          <h5 class="card-title text-hover" (click)="playMusic( song.link , song.name, song.singer, song.album)">{{ song.name | titlecase }}</h5>
          <p class="card-text">{{ song.singer }}</p>
          <p class="card-text">Album: {{ song.album }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="fixed-bottom navbar-light bg-light">
    <player [songList]="songs" [isShow]="isshowPlayer"></player>
  </div>
</div>

